body {
    background: #e2e1e0;
}

main {
    text-align: center;
}

.card {
    background: #fff;
    border-radius: 5px;
    display: inline-flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    margin: 1rem;
    position: relative;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bottom-content {
    margin: 5px;
    display: inline-flex;
}

.card textarea {
    max-width: inherit;
    min-width: inherit;
    max-height: inherit;
    min-height: inherit;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media screen and (max-width: 599px)
{
    .card {
        max-height: 95vh;
        min-height: 100px;
        height: auto;
        max-width: 90vw;
        min-width: 90vw;
        width: 90%;
    }
}

@media screen and (min-width: 600px)
{
    .card {
        max-width: 80vw;
        min-width: 450px;
        width: auto;
        max-height: 95vh;
        min-height: 100px;
        height: auto;
    }
}